.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4.5rem;
  // background-color: #FFECE3;
  background: url("./../../../../assets/images/background-3.jpg");
  // background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 99;

  &__btn-back {
    font-size: large;
    width: 8rem;
    height: 3.5rem;
    position: absolute;
    top: 0.5rem;
    left: 8.5rem;
    background-color: #ffffff;
    color: #000000;

    &:focus,
    &:active {
      outline: none;
      border: none;
    }
  }

  &__toggle {
    font-size: 2rem;
    margin-left: 0.5rem;
    cursor: pointer;
  }

  &__avatar {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 0.2rem solid #000000;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  &__name {
    font-size: 2rem;
    font-weight: 700;
    margin-right: 1rem;
  }

  &__label {
    justify-self: center;
    margin: auto;
    font-size: 2.5rem;
    font-weight: bolder;
  }

  &__toggle-dropdown-container {
    position: absolute;
    bottom: -70%;
    background-color: #00000f;
    width: 15rem;
    height: 4rem;
    border-radius: 0.3rem;
    color: #ffffff;
    z-index: 999;

    & > ul {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      & > li {
        list-style-type: none;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: large;
        justify-content: center;
        position: relative;
        border-radius: 0.3rem;
        cursor: pointer;
      }

      & > li:hover,
      & > li.active {
        background-color: #ffffff;
        color: #000000;
      }

      & > li:first-child::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 80%;
        border-bottom: 1px solid #ffffff;
      }
    }
  }
}

@media only screen and (max-width: 530px) {
  .navbar__label {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .navbar {
    &__btn-back {
      left: 6rem;
    }
  }


  .navbar__toggle ,.navbar__toggle-dropdown-container {
    display: none;
  }
}
