<loading *ngIf="loading"></loading>
<div class="container">
  <div>
    <label class="container__label">รายการชนิดเนื้อผ้า</label>
    <button
      pButton
      pRipple
      label="เพิ่มชนิดเนื้อผ้า"
      icon="fas fa-plus"
      class="p-button-raised p-button-success p-button-lg container__btn-add"
      (click)="onVisibleNewTexture()"
    ></button>
  </div>
  <p-table
    [value]="textureClothList"
    [rows]="10"
    [paginator]="true"
    responsiveLayout="scroll"
    styleClass="p-datatable-lg"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>ลำดับ</th>
        <th>รหัส</th>
        <th>ชื่อชนิดเนื้อผ้า</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cloth let-index="rowIndex">
      <tr>
        <td>{{ index + 1 }}</td>
        <td>{{ cloth.key }}</td>
        <td>{{ cloth.name }}</td>
        <td class="container__action">
          <!-- <button
            pButton
            pRipple
            type="button"
            icon="fas fa-edit"
            class="p-button-rounded p-button-raised p-button-warning"
            routerLink="edit-cloth"
            [queryParams]="{ id: cloth.id }"
          ></button> -->
          <button
            pButton
            pRipple
            type="button"
            [icon]="'fas ' + (cloth.isDisable ? 'fa-undo' : 'fa-eye-slash')"
            class="p-button-rounded p-button-raised p-button-danger"
            (click)="onDelete(cloth.id, cloth.isDisable, cloth.name)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  header="เพิ่มชนิดเนื้อผ้า"
  [(visible)]="newTextureVisible"
  (onHide)="onResetValue()"
  [style]="{ width: '50vw', height: '30vh' }"
  [modal]="true"
  [draggable]="false"
>
  <div class="container-add-texture flex flex-column justify-content-around">
    <div class="field">
      <label for="texture-type" class="block" [style]="{ 'font-size': 'large' }"
        >ชื่อชนิดเนื้อผ้า</label
      >
      <input
        id="texture-type"
        type="text"
        pInputText
        class="p-inputtext-lg w-full"
        [(ngModel)]="newTextureValue"
        placeholder="โปรดระบุชนิดเนื้อผ้า"
      />
    </div>
    <button
      pButton
      pRipple
      class="p-button-success p-button-raised p-button-lg"
      label="เพิ่ม"
      icon="fas fa-plus"
      style="width: 100%; margin-top: 1rem"
      (click)="onNewTexture()"
    ></button>
  </div>
</p-dialog>

<!-- <p-dialog
  header="แก้ไขชนิดเนื้อผ้า"
  [(visible)]="newTextureVisible"
  (onHide)="onResetValue()"
  [style]="{ width: '50vw', height: '30vh' }"
  [modal]="true"
  [draggable]="false"
>
  <div class="container-add-texture flex flex-column justify-content-around">
    <div class="field">
      <label for="texture-type" class="block" [style]="{ 'font-size': 'large' }"
        >ชื่อชนิดเนื้อผ้า</label
      >
      <input
        id="texture-type"
        type="text"
        pInputText
        class="p-inputtext-lg w-full"
        [(ngModel)]="newTextureValue"
        placeholder="โปรดระบุชนิดเนื้อผ้า"
      />
    </div>
    <button
      pButton
      pRipple
      class="p-button-success p-button-raised p-button-lg"
      label="แก้ไข"
      icon="fas fa-edit"
      style="width: 100%; margin-top: 1rem"
      (click)="onEditTexture()"
    ></button>
  </div>
</p-dialog> -->

<p-confirmDialog
  header="Warning"
  icon="pi pi-exclamation-triangle"
  [style]="{ width: '30vw', 'font-size': 'large' }"
  [baseZIndex]="10000"
></p-confirmDialog>
