:host ::ng-deep .p-chip.custom-chip {
  background: #6366f1;
  color: white;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.container {
  margin: auto;
  width: 50%;
  min-height: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 0.4rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  & > div:first-child {
    display: flex;
    justify-content: space-between;
  }

  &__label {
    font-size: 2rem;
    font-weight: bold;
    align-self: flex-start;
  }

  &__sub-label {
    font-size: 2rem;
    font-weight: normal;
    align-self: flex-start;
    margin-left: 7rem;
    margin-bottom: 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 1rem;

    & .field {
      width: 80%;
      margin-bottom: 2rem;

      & label {
        font-weight: normal;
      }

      & input {
        width: 100%;
      }
    }
  }

  &__cloth-list {
    width: 80%;
    height: auto;
    margin: auto;
    overflow: auto;
    overflow-x: none;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.4rem;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

    &--header {
      width: 100%;
      min-height: 2rem;
      background-color: rgb(255, 255, 255);
      margin: 1rem auto;
      border-radius: 0.4rem 0.4rem 0 0;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      padding-top: 1rem;
      padding-bottom: 0.5rem;

      & > .grid {
        display: flex;
        align-items: center;
      }
    }

    &--card {
      width: 100%;
      min-height: 5rem;
      background-color: rgb(240, 239, 239);
      margin: 1rem auto;
      border-radius: 0.4rem;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      & > .grid {
        display: flex;
        align-items: center;
      }
    }
  }

  &__summarize {
    width: 80%;
    height: auto;
    margin: auto;
    overflow: auto;
    overflow-x: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & > p {
      font-size: large;
      font-weight: 400;
    }
  }

  &__btn-add {
    width: 12rem;
    align-self: flex-end;
    margin-right: 7rem;
    margin-bottom: 1rem;
  }

  &__btn-group {
    &--btn {
      margin-top: 1rem;
    }
  }
}

:host ::ng-deep .p-dropdown {
  width: 100%;
}

.customer-item {
  & span:first-child {
    margin-right: 5rem;
  }
}
