.container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: .4rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  & > div:first-child {
    display: flex;
    justify-content: space-between;
  }

  &__label {
    font-size: 2rem;
    font-weight: bold;
    align-self: flex-start;
  }

  &__btn-add {
    margin-bottom: 1rem;
  }

  & *th , & *td{
    text-align: center;
  }

  &__action {
    display: flex;
    justify-content: space-evenly;
  }
}

.container-add-texture {
  width: 100rem;

  & > *.field > input {
    width: 100%;
  }
}