<loading *ngIf="loading"></loading>
<div *ngIf="typeSelected" class="container">
  <div class="field">
    <label class="block">ชนิดผ้า</label>
    <p-selectButton
      [style]="{ 'font-size': 'larger' }"
      [options]="typeOptions"
      [(ngModel)]="typeSelected"
      optionLabel="name"
      (ngModelChange)="onChangeType(typeSelected)"
    ></p-selectButton>
  </div>
  <div class="field">
    <label class="block">ประเภทการใช้งานผ้า</label>
    <p-selectButton
      [style]="{ 'font-size': 'larger' }"
      [options]="typeOfUseOptions"
      [(ngModel)]="typeOfUseSelected"
      optionLabel="name"
    ></p-selectButton>
  </div>
  <div *ngIf="typeSelected.name === 'ผ้าพิเศษ'" class="field field-special">
    <label class="block label-special">เลือกผ้าชนิดพิเศษ</label>
    <p-selectButton
      [style]="{ 'font-size': 'larger' }"
      [options]="typeSpecialOptions"
      [(ngModel)]="typeSpecialSelected"
      optionLabel="name"
      class="special"
    ></p-selectButton>
  </div>
  <div class="field">
    <label class="block">ผ้ามีปัญหา</label>
    <p-selectButton
      [style]="{ 'font-size': 'larger' }"
      [options]="fabricProblemOptions"
      [(ngModel)]="fabricProblemSelected"
      [multiple]="true"
      optionLabel="name"
    ></p-selectButton>
  </div>
  <div class="field">
    <label for="horizontal" class="block">จำนวน</label>
    <p-inputNumber
      [(ngModel)]="number"
      [showButtons]="true"
      buttonLayout="horizontal"
      inputId="horizontal"
      spinnerMode="horizontal"
      [step]="1"
      [min]="1"
      decrementButtonClass="p-button-danger"
      incrementButtonClass="p-button-success"
      incrementButtonIcon="pi pi-plus"
      decrementButtonIcon="pi pi-minus"
    >
    </p-inputNumber>
  </div>
  <div class="field-checkbox flex justify-content-end">
    <p-checkbox
      [(ngModel)]="isOutProcess"
      [binary]="true"
      inputId="binary"
    ></p-checkbox>
    <label for="binary" style="font-size: 15px">ไม่ต้องเข้ากระบวนการซัก</label>
  </div>
  <div class="flex justify-content-end align-items-end">
    <button
      pButton
      pRipple
      class="p-button-success p-button-raised p-button-sm btn-add"
      label="เพิ่ม"
      [style]="{ width: '100px', margin: 'auto 1rem' }"
      icon="fas fa-plus"
      (click)="onAdd()"
    ></button>
  </div>
</div>
