<div class="container">
  <div>
    <label class="container__label">เพิ่มรายการผ้า</label>
  </div>
  <div class="container__form">
    <div class="container__sub-label">
      <label>ข้อมูลทั่วไป</label>
    </div>
    <div class="field">
      <label for="customer" class="block">ชื่อลูกค้า</label>
      <p-dropdown
        id="customer"
        [options]="customerList"
        [(ngModel)]="customerSelected"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="เลือกชื่อลูกค้า"
        (ngModelChange)="onSelectedCustomer()"
        (onClear)="onClearCustomerValue()"
      >
        <ng-template pTemplate="selectedItem">
          <div
            class="customer-item customer-item-value"
            *ngIf="customerSelected"
          >
            <span>รหัส: {{ customerSelected.id }}</span>
            <span
              >ชื่อ: {{ customerSelected.firstName }}
              {{ customerSelected.lastName }}</span
            >
          </div>
        </ng-template>
        <ng-template let-customer pTemplate="item">
          <div class="customer-item">
            <span>รหัส: {{ customer.key }}</span>
            <span>ชื่อ: {{ customer.firstName }} {{ customer.lastName }}</span>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="field">
      <label for="phone" class="block">เบอร์ติดต่อ</label>
      <input
        id="phone"
        class="p-inputtext-lg"
        type="text"
        pInputText
        disabled="true"
        [(ngModel)]="phone"
        placeholder="เบอร์ติดต่อ"
      />
    </div>
    <div class="field">
      <label for="address" class="block">ที่อยู่</label>
      <input
        id="address"
        class="p-inputtext-lg"
        type="text"
        pInputText
        disabled="true"
        [(ngModel)]="address"
        placeholder="ที่อยู่"
      />
    </div>
    <div class="field">
      <label for="lineId" class="block">Line ID</label>
      <input
        id="lineId"
        class="p-inputtext-lg"
        type="text"
        pInputText
        disabled="true"
        [(ngModel)]="lineId"
        placeholder="Line ID"
      />
    </div>
    <div class="field">
      <label for="employeeId" class="block">รหัสพนักงาน</label>
      <input
        id="employeeId"
        class="p-inputtext-lg"
        type="text"
        pInputText
        [(ngModel)]="employeeCode"
        placeholder="รหัสพนักงาน"
        disabled="true"
      />
    </div>
  </div>
  <div class="container__sub-label">
    <label>รายการผ้า</label>
  </div>
  <button
    pButton
    pRipple
    label="เพิ่มรายการผ้า"
    icon="fas fa-plus"
    class="p-button-raised p-button-success p-button-sm container__btn-add"
    (click)="newClothList()"
  ></button>
  <div class="container__cloth-list">
    <div class="container__cloth-list--header">
      <div class="grid px-3 text-center">
        <div class="col-1">ชนิดผ้า</div>
        <div class="col-2">ประเภทการใช้งาน</div>
        <div class="col-2">ผ้าพิเศษ</div>
        <div class="col-3">ผ้ามีปัญหา</div>
        <div class="col-2">นำเข้าซัก</div>
        <div class="col-1">จำนวน</div>
        <div class="col-1"></div>
      </div>
    </div>
    <ng-container *ngFor="let cloth of clothList; let i = index">
      <div class="container__cloth-list--card">
        <div class="grid px-3 text-center">
          <div class="col-1">
            {{ (!!cloth.type ? cloth.type.name : "-") | translate }}
          </div>
          <div class="col-2">
            {{
              (!!cloth.type_of_use ? cloth.type_of_use.name : "-") | translate
            }}
          </div>
          <div class="col-2">
            {{
              (!!cloth.type_special ? cloth.type_special.name : "-") | translate
            }}
          </div>
          <div class="col-3">
            <ng-container *ngFor="let problem of cloth.fabric_problem">
              <p-chip
                [label]="(!!problem ? problem.name : '-') | translate"
                styleClass="custom-chip"
              ></p-chip>
            </ng-container>
          </div>
          <div class="col-2">
            <i
              class="fas"
              [ngClass]="
                !cloth.is_out_process ? 'fa-check-circle' : 'fa-times-circle'
              "
              [ngStyle]="
                !cloth.is_out_process ? { color: 'green' } : { color: 'red' }
              "
            ></i>
          </div>
          <div class="col-1">{{ cloth.number }}</div>
          <div class="col-1">
            <button
              pButton
              pRipple
              type="button"
              icon="fas fa-edit"
              class="p-button-rounded p-button-raised p-button-warning p-button-text"
              (click)="onEditItem(i)"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              icon="fas fa-trash"
              class="p-button-rounded p-button-raised p-button-danger p-button-text mt-3"
              (click)="onRemoveItem(i)"
            ></button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <button
    pButton
    pRipple
    label="ถัดไป"
    class="p-button-raised p-button-success p-button-lg container__btn-success"
    (click)="onNext()"
  ></button>
</div>
<p-confirmDialog
  header="Warning"
  icon="pi pi-exclamation-triangle"
  [style]="{ width: '70vw' }"
  [baseZIndex]="10000"
></p-confirmDialog>
