<img
  class="icon__response"
  src="./../../../../assets/images/washing-icon.png"
  alt="Icon"
  (click)="isSidebar = true"
  [ngStyle]="isSidebar ? { display: 'none' } : { display: 'block' }"
/>
<div class="sidebar">
  <img
    class="sidebar__icon"
    src="./../../../../assets/images/washing-icon.png"
    alt="Icon"
  />
  <p class="sidebar__label">Wantana</p>
  <ul class="sidebar__menu">
    <li routerLink="./dashboard" routerLinkActive="active">
      <i class="fas fa-home sidebar__menu--icon"></i
      ><label class="sidebar__menu--label">หน้าแรก</label>
    </li>
    <li routerLink="cloth-management" routerLinkActive="active">
      <i class="fas fa-shopping-basket sidebar__menu--icon"></i
      ><label class="sidebar__menu--label">จัดการผ้า</label>
    </li>
    <li routerLink="texture-cloth-management" routerLinkActive="active">
      <i class="fas fa-person-booth sidebar__menu--icon"></i
      ><label class="sidebar__menu--label">ชนิดเนื้อผ้า</label>
    </li>
    <li routerLink="type-cloth-management" routerLinkActive="active">
      <i class="fas fa-tshirt sidebar__menu--icon"></i
      ><label class="sidebar__menu--label">ประเภทการใช้งานผ้า</label>
    </li>
    <li routerLink="special-cloth-management" routerLinkActive="active">
      <i class="fas fa-star sidebar__menu--icon"></i
      ><label class="sidebar__menu--label">ผ้าชนิดพิเศษ</label>
    </li>
    <li routerLink="cloth-problem-management" routerLinkActive="active">
      <i class="fas fa-screwdriver sidebar__menu--icon"></i
      ><label class="sidebar__menu--label">ประเภทผ้ามีปัญหา</label>
    </li>
    <li routerLink="employee-management" routerLinkActive="active">
      <i class="fas fa-users sidebar__menu--icon"></i
      ><label class="sidebar__menu--label">ข้อมูลพนักงาน</label>
    </li>
    <li routerLink="customer-management" routerLinkActive="active">
      <i class="fas fa-user-tie sidebar__menu--icon"></i
      ><label class="sidebar__menu--label">ข้อมูลลูกค้า</label>
    </li>
    <li routerLink="reports" routerLinkActive="active">
      <i class="far fa-flag sidebar__menu--icon"></i
      ><label class="sidebar__menu--label">ออกรายงาน</label>
    </li>
  </ul>
</div>
<p-sidebar
  [(visible)]="isSidebar"
  [style]="{ width: '80%', 'background-color': '#ffeddb' }"
>
  <ul class="sidebar-res">
    <li (click)="isSidebar = false" routerLink="./dashboard" routerLinkActive="active">
      <i class="fas fa-home sidebar-res__logo"></i
      ><label class="sidebar-res__label">แดชบอร์ด</label>
    </li>
    <li (click)="isSidebar = false" routerLink="cloth-management" routerLinkActive="active">
      <i class="fas fa-shopping-basket sidebar-res__logo"></i
      ><label class="sidebar-res__label">จัดการผ้า</label>
    </li>
    <li (click)="isSidebar = false" routerLink="./login" routerLinkActive="active">
      <i class="fas fa-exist sidebar-res__logo"></i
      ><label class="sidebar-res__label">LOGOUT</label>
    </li>
  </ul>
</p-sidebar>
