<div class="sidebar">
  <img
    class="sidebar__icon"
    src="./../../../../assets/images/washing-icon.png"
    alt="Icon"
  />
  <p class="sidebar__label">Wantana</p>
  <ul class="sidebar__menu">
    <li routerLink="./dashboard" routerLinkActive="active">
      <i class="fas fa-home sidebar__menu--icon"></i
      ><label class="sidebar__menu--label">แดชบอร์ด</label>
    </li>
    <li routerLink="cloth-management" routerLinkActive="active">
      <i class="fas fa-shopping-basket sidebar__menu--icon"></i
      ><label class="sidebar__menu--label">จัดการผ้า</label>
    </li>
    <li routerLink="texture-cloth-management" routerLinkActive="active">
      <i class="fas fa-person-booth sidebar__menu--icon"></i
      ><label class="sidebar__menu--label">ชนิดเนื้อผ้า</label>
    </li>
    <li routerLink="type-cloth-management" routerLinkActive="active">
      <i class="fas fa-tshirt sidebar__menu--icon"></i
      ><label class="sidebar__menu--label">ประเภทการใช้งานผ้า</label>
    </li>
    <li routerLink="special-cloth-management" routerLinkActive="active">
      <i class="fas fa-star sidebar__menu--icon"></i
      ><label class="sidebar__menu--label">ผ้าชนิดพิเศษ</label>
    </li>
    <li routerLink="cloth-problem-management" routerLinkActive="active">
      <i class="fas fa-screwdriver sidebar__menu--icon"></i
      ><label class="sidebar__menu--label">ประเภทผ้ามีปัญหา</label>
    </li>
    <li routerLink="employee-management" routerLinkActive="active">
      <i class="fas fa-users sidebar__menu--icon"></i
      ><label class="sidebar__menu--label">ข้อมูลพนักงาน</label>
    </li>
    <li routerLink="customer-management" routerLinkActive="active">
      <i class="fas fa-user-tie sidebar__menu--icon"></i
      ><label class="sidebar__menu--label">ข้อมูลลูกค้า</label>
    </li>
  </ul>
</div>
