<loading *ngIf="loading"></loading>
<div class="container flex justify-content-around">
  <div class="card shadow-4">
    <h3>จำนวนผ้าที่รับมา</h3>
    <h1 style="color: goldenrod">{{ totalClothes }}</h1>
  </div>
  <div class="card shadow-4">
    <h3>จำนวนลูกค้าที่รับมา</h3>
    <h1 style="color: goldenrod">{{ totalCustomer }}</h1>
  </div>
  <div class="card shadow-4">
    <h3>ออเดอร์ที่ค้างอยู่</h3>
    <h1 style="color: red">{{ totalProblem }}</h1>
  </div>
  <div class="card shadow-4">
    <h3>จำนวนผ้าที่เสร็จแล้ว</h3>
    <h1 style="color: rgb(13, 207, 13)">{{ totalSuccess }}</h1>
  </div>
</div>
<div class="container-card shadow-4">
  <h1 class="mb-5">รายการรับผ้าวันนี้</h1>
  <p-table
    [value]="orders"
    responsiveLayout="stack"
    [rows]="10"
    styleClass="p-datatable-lg p-datatable-gridlines"
    [paginator]="true"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th [style]="{ width: '5%' }">ลำดับ</th>
        <th [style]="{ width: '15%' }">วันที่</th>
        <th [style]="{ width: '20%' }">ลูกค้า</th>
        <th [style]="{ width: '12%' }">สถานะ</th>
        <th [style]="{ width: '15%' }">จำนวนผ้าที่ยังไม่ได้ส่ง(ชิ้น)</th>
        <th [style]="{ width: '15%' }">จำนวนผ้าที่ส่งไปแล้ว(ชิ้น)</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-order
      let-index="rowIndex"
      let-columns="columns"
    >
      <tr>
        <td><span class="p-column-title">ลำดับ</span>{{ index + 1 }}</td>
        <td class="text-center">
          <span class="p-column-title">วันที่</span
          >{{ order.created_at | thaidate: "short" }}
        </td>
        <td class="text-left">
          <span class="p-column-title">ลูกค้า</span
          >{{ order.customer.firstName + " " + order.customer.lastName }}
        </td>
        <td class="text-center">
          <span class="p-column-title">สถานะ</span>
          <p-tag
            styleClass="mr-2 font-bold"
            [style]="{
              'font-size': '14px',
              padding: '.2rem .5rem .2rem .5rem '
            }"
            [severity]="order.status === 'IN' ? 'success' : 'warning'"
            [value]="order.status === 'IN' ? 'อยู่ในระบบ' : 'นำส่งแล้ว'"
            [rounded]="true"
          ></p-tag>
        </td>
        <td class="text-center">
          <span class="p-column-title">จำนวนผ้าที่ยังไม่ได้ส่ง</span
          >{{ order.numClothe }}
        </td>
        <td class="text-center">
          <span class="p-column-title">จำนวนผ้าที่ส่งไปแล้ว</span
          >{{ order.num }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
